<div>
    <p *ngIf="!isLoaded">Loading...</p>
    <ng-container *ngIf="isLoaded">
        <p *ngIf="!list">No list with passed ID!</p>
        <ng-container *ngIf="list">
            <div class="flex justify-evenly">
                <p>ListID: {{ list.listID }}</p>
                <p>Created: {{ createDate }}</p>
                <p>List: {{ list.listName }}</p>
                <p *ngIf="userFirstName">Created by: {{ userFirstName }}</p>
                <p *ngIf="!userFirstName">Created by unlogged user</p>
            </div>
            <div>
                <ng-container *ngFor="let product of productsOnList">
                    <div>
                        <span class="underline" 
                        (click)="redirect(createPath('/product/', product.productID))">{{product.productName}}</span>| {{product.productPrice+shopCurrency}} | 
                        {{product.quantity}}
                    </div>
                </ng-container>
                <p>
                    Price: {{ listPrice+shopCurrency }}
                </p>
            </div>
        </ng-container>
    </ng-container>
</div>