<div 
(mouseenter)="showProducts.next(true)"
(mouseleave)="showProducts.next(false)"  
>
    <svg xmlns="http://www.w3.org/2000/svg" 
        class="h-6 w-6" 
        fill="none" 
        viewBox="0 0 24 24" 
        stroke="currentColor">
        <path stroke-linecap="round" 
            stroke-linejoin="round" 
            stroke-width="2" 
            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
        />
    </svg>
    <ng-container *ngIf="showProducts.getValue()">
        <div class="absolute bg-purple-600 rounded-lg">
            <ng-container *ngIf="productsInCart === null || productsInCart.length == 0; else generateProductsPreview">
                <p>
                    Your cart is empty!
                </p>
            </ng-container>
            <ng-template #generateProductsPreview>
                <span class="underline" (click)="redirect('/cart')">Edit or save a cart</span>
                <ng-container *ngFor="let product of productsInCart">
                    <div>
                        <span class="underline" 
                        (click)="redirect(createPath('/product/', product.productID))">{{product.productName}}</span>| {{product.productPrice+shopCurrency}} | 
                        {{product.quantity}}
                    </div>
                </ng-container>
                <p>
                    Price: {{ cartPrice+shopCurrency }}
                </p>
                <button (click)="redirect('/shipping')">
                    Go to shipping
                </button>
                <button (click)="resetCart()">
                    <svg xmlns="http://www.w3.org/2000/svg" 
                        class="h-6 w-6" 
                        fill="none" 
                        viewBox="0 0 24 24" 
                        stroke="currentColor">
                        <path 
                            stroke-linecap="round" 
                            stroke-linejoin="round" 
                            stroke-width="2" 
                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" 
                        />
                    </svg>
                </button>
            </ng-template>
        </div>
    </ng-container>
</div>