<div class="mx-50">
    <div>
        <p *ngIf="!isUserLogged">
            You need to be logged to add comment!
        </p>
        <div *ngIf="isUserLogged"
        class="grid auto-rows-auto">
            <span class="text-center">
                Add comment!
            </span>
            <div>
                <textarea class="resize-none border-2 border-black rounded-md"
                placeholder="Comment here..."
                [formControl]="commentText"
                maxlength="150"
                cols="60" 
                rows="5"></textarea>
                <div class="flex justify-evenly items-center">
                    <label for="anonymous">
                        Anonymous comment
                    </label>
                    <input 
                    class="form-checkbox appearance-none border border-gray-300  text-green-600 rounded-sm bg-transparent transition duration-300
                    checked:border-green-600"
                    type="checkbox"
                    [formControl]="isAnonymous" 
                    name="anonymous" 
                    id="anonymous">
                    <label for="rating">
                        Rating:
                    </label>
                    <select class="form-select"
                    [formControl]="rating"
                    id="rating">
                        <option *ngFor="let rating of [1,2,3,4,5]"
                        [value]="rating"
                        >{{ rating }}
                        </option>
                    </select>
                    <button class="btn-colors"
                    [disabled]="!commentText.value"
                    (click)="addComment()">
                        Add comment
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-center">
        <p *ngIf="comments.length == 0">
            No comments yet!
        </p>
        <div *ngIf="comments.length != 0"
        class="divide-y-2 divide-gray-700 mt-5">
            <div *ngFor="let comment of comments">
                <div class="border-b border-gray-400">
                    <span>
                        Created by: {{ comment.userName }}, 
                    </span> 
                    <span>
                        Rating: {{ comment.rating }}, 
                    </span>
                    <span>
                        {{ createDate(comment.commentDate) }}
                    </span>
                    <span>
                        <button *ngIf="comment.userID == userID"
                        class="btn-colors"
                        (click)="deleteComment(comment.commentID)">
                            <svg xmlns="http://www.w3.org/2000/svg" 
                                class="h-6 w-6" 
                                fill="none" 
                                viewBox="0 0 24 24" 
                                stroke="currentColor">
                                <path 
                                    stroke-linecap="round" 
                                    stroke-linejoin="round" 
                                    stroke-width="2" 
                                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" 
                                />
                            </svg>
                        </button>
                    </span>
                </div>
                <p class="my-10">
                    {{ comment.commentText }}
                </p>
            </div>
        </div>
    </div>
</div>
