<div>
    <header>Login!</header>
    <form>
        <input 
        type="text"
        placeholder="Email"
        [formControl]="loginAccountEmail"
        >
        <input 
        type="password"
        placeholder="Password"
        [formControl]="loginAccountPassword"
        >
        <div>
            <p>{{ loginInfo }}</p>
            <button *ngIf="loginInfo === 'Your email doesn\'t exist in DB!'"
            (click)="redirect('/register')"
            >
                Register
            </button>
        </div>
        <button type="button"
        (click)="loginUser()"
        >
            Login
        </button>
    </form>
</div>