<div *ngIf="isLoaded">
    <div *ngIf="productsInCart.length == 0">
        <p>Your cart is empty</p>
    </div>
    <div *ngIf="productsInCart.length != 0"
    class="grid grid-rows-2
    md:grid-cols-2">
        <div>
            <p>
                Your cart
            </p>
            <ng-container *ngFor="let product of productsInCart">
                <div>
                    <span class="underline" (click)="redirect(createPath('/product/', product.productID))">
                        {{ product.productName }}
                    </span>
                    Price: {{product.productPrice+shopCurrency}} 
                    |
                    {{ (product.quantity * product.productPrice).toFixed(2)+shopCurrency}}
                    | 
                    <ng-container *ngIf="product.productQuantity">
                        <button class="btn-colors" 
                        (click)="increaseProductQuantity(product.productID, -1); $event.stopPropagation()">
                            <svg xmlns="http://www.w3.org/2000/svg" 
                            class="h-6 w-6" 
                            fill="none" 
                            viewBox="0 0 24 24" 
                            stroke="currentColor">
                                <path 
                                    stroke-linecap="round" 
                                    stroke-linejoin="round" 
                                    stroke-width="2" 
                                    d="M20 12H4" 
                                />
                            </svg>
                        </button>
                        Quantity: {{product.quantity}}
                        <button class="btn-colors" 
                        (click)="increaseProductQuantity(product.productID, 1); $event.stopPropagation()">
                            <svg xmlns="http://www.w3.org/2000/svg" 
                            class="h-6 w-6" fill="none" 
                            viewBox="0 0 24 24" 
                            stroke="currentColor">
                                <path 
                                    stroke-linecap="round" 
                                    stroke-linejoin="round" 
                                    stroke-width="2" 
                                    d="M12 4v16m8-8H4" 
                                />
                            </svg>
                        </button>
                        <span class="text-green-700">Available!</span>
                    </ng-container>
                    <span *ngIf="!product.productQuantity" class="text-red-700">Not available!</span>
                    <button class="btn-colors"
                    (click)="deleteProduct(product.productID)">
                        <svg xmlns="http://www.w3.org/2000/svg" 
                        class="h-6 w-6" 
                        fill="none" 
                        viewBox="0 0 24 24" 
                        stroke="currentColor">
                            <path 
                                stroke-linecap="round" 
                                stroke-linejoin="round" 
                                stroke-width="2" 
                                d="M6 18L18 6M6 6l12 12" 
                            />
                        </svg>
                    </button>
                </div>
            </ng-container>
            <div>
                Amount: {{cartPrice+shopCurrency}}
            </div>
            <app-add-list-form></app-add-list-form>
        </div>
        <div>
            <ng-container *ngIf="!isAnythingNotavailable">
                Pay now
                <input 
                type="radio"
                name="payment"
                value="now"
                [formControl]="paymentControl">
                Pay later
                <input 
                type="radio"
                name="payment"
                value="later"
                [formControl]="paymentControl">
                Shippment details
                <input 
                type="radio" 
                name="details" 
                value="account"
                (change)="enableDisableForm()"
                [formControl]="optionsControl"
                >
                <span>Use from account</span>
                <input 
                type="radio" 
                name="details"
                value="form"
                (change)="enableDisableForm()"
                [formControl]="optionsControl"
                >
                <span>Pass diffrent</span>
                <div>
                    <form>
                        <input class="input-style" 
                        type="text" 
                        placeholder="Pass first name" 
                        [formControl]="firstnameControl">

                        <input class="input-style" 
                        type="text" 
                        placeholder="Pass last name" 
                        [formControl]="lastnameControl">

                        <input class="input-style"
                        type="text" 
                        placeholder="Pass email" 
                        [formControl]="emailControl">

                        <input class="input-style"
                        type="text" 
                        placeholder="Pass city" 
                        [formControl]="cityControl">
                    </form>
                </div>
                <p>
                    {{infoLabel}}
                </p>
                <button class="btn-colors"
                (click)="order()">
                    Order now
                </button>
            </ng-container>
            <ng-container *ngIf="isAnythingNotavailable">
                <p>Some of products are unavaiable, delete them to order</p>
            </ng-container>
        </div>
    </div>
</div>