<div class="grid grid-rows-2
md:grid-cols-2">
    <div>
        <p>
            Your cart
        </p>
        <ng-container *ngFor="let product of productsInCart">
            <div>
                {{product.productName}}
                Price: {{product.productPrice+shopCurrency}}
                Quantity: {{product.quantity}}
                {{ product.quantity * product.productPrice+shopCurrency }}
            </div>
        </ng-container>
        <div>
            Amount: {{cartPrice+shopCurrency}}
        </div>
    </div>
    <div>
        Pay now
        <input 
        type="radio"
        name="payment"
        value="now"
        [formControl]="paymentControl">
        Pay later
        <input 
        type="radio"
        name="payment"
        value="later"
        [formControl]="paymentControl">
        Shippment details
        <input 
        type="radio" 
        name="details" 
        value="account"
        (change)="enableDisableForm()"
        [formControl]="optionsControl"
        >
        <span>Use from account</span>
        <input 
        type="radio" 
        name="details"
        value="form"
        (change)="enableDisableForm()"
        [formControl]="optionsControl"
        >
        <span>Pass diffrent</span>
        <div>
            <form>
                <input type="text" 
                placeholder="Pass name" 
                [formControl]="nameControl">

                <input type="text" 
                placeholder="Pass lastname" 
                [formControl]="lastnameControl">

                <input type="text" 
                placeholder="Pass email" 
                [formControl]="emailControl">
                
                <input type="text" 
                placeholder="Pass city" 
                [formControl]="cityControl">
            </form>
        </div>
        <p>
            {{infoLabel}}
        </p>
        <button class="btn-colors"
        (click)="order()">
            Order now
        </button>
    </div>
</div>
