<p>ID: {{ orderData.orderID }}</p>
<p>Orderer: {{ orderData.orderOrdererName }} {{ orderData.orderOrdererLastName }}</p>
<div>
    products here
</div>
<p>Ordered to: {{ orderData.orderAddress }}</p>
<p>Ordered on: {{ orderDate }}</p>
<p>Amount: {{ orderData.orderPrice }}</p>
<div *ngIf="orderData.orderIsPaid"
class="flex justify-center">
    <p class="infos-colors">
        Ended!
    </p>
</div>
<div *ngIf="!orderData.orderIsPaid"
    class="flex justify-around items-center">
    <p class="infos-colors">
        Not paid!
    </p>
    <button class="btn-colors">
        Pay now
    </button>
    <button class="btn-colors"
    (click)=cancelOrder(orderData.orderID)>
        Cancel
    </button>
</div>