<ng-container *ngIf="!isLoaded">
    <p>
        Loading...
    </p>
</ng-container>
<ng-container *ngIf="isLoaded">
    <div class="grid auto-rows-auto gap-y-10
    sm:grid-cols-1
    md:grid-cols-2
    lg:grid-cols-3">
        <ng-container *ngIf="products; else noProducts">
            <p class="flex col-span-full justify-self-center text-2xl">
                Products from: {{ products[0].supplierName }}
            </p>
            <div class="flex justify-center" *ngFor="let product of products">
                <div>
                    <app-product-preview 
                    [productData]=product> </app-product-preview>
                </div>
            </div>
        </ng-container> 
        <ng-template #noProducts>
            <p>No products</p>
        </ng-template>
    </div>
</ng-container>