<ng-container *ngIf="!isLoaded">
    <p>
        Loading...
    </p>
</ng-container>
<ng-container *ngIf="isLoaded">
    <div class="grid grid-cols-1 auto-rows-auto gap-y-10">
        <ng-container *ngIf="products.length !== 0; else noProducts">
            <p class="flex col-span-full justify-self-center text-2xl mt-10">
                <ng-container *ngIf="searchPhrase">
                    Search results for: {{ searchPhrase }}
                </ng-container>
                <ng-container *ngIf="!searchPhrase">
                    Our products!
                </ng-container>
            </p>
            <div>
                <div>
                    <div *ngIf="!showFilters">
                        <button (click)="showFilters=true">
                            Show filters
                        </button>
                    </div>
                    <div *ngIf="showFilters">
                        <button (click)="showFilters=false">
                            Hide filters
                        </button>
                        <span>
                            Sort by
                            <select (change)="filterProducts()"
                            [formControl]="sortControl">
                                <option value="priceLowToHigh">
                                    Price: low to high
                                </option>
                                <option value="priceHighToLow">
                                    Price: high to low
                                </option>
                                <option value="nameAToZ">
                                    Name: A to Z
                                </option>
                                <option value="nameZToA">
                                    Name: Z to A
                                </option>
                                <option value="mostPopular">
                                    Most popular
                                </option>
                            </select>
                        </span>
                        <span>
                            <input type="checkbox"
                            (change)="filterProducts()"
                            [formControl]="availabilityControl">
                            Only available
                        </span>
                    </div>
                </div>
                <div class="grid auto-rows-fr gap-10 mx-20 my-10 place-items-stretch
                sm:grid-cols-1
                md:grid-cols-2
                lg:grid-cols-3">
                    <div class="grid place-items-stretch" *ngFor="let product of products">
                        <app-product-preview
                        [productData]=product></app-product-preview>
                    </div>
                </div>
            </div>
            
        </ng-container> 
        <ng-template #noProducts>
            <ng-container *ngIf="searchPhrase">
                <p class="flex col-span-full justify-self-center text-2xl">
                    No results for: {{ searchPhrase }}
                </p>
                <div class="col-span-3">
                    <app-randomize-products-menu-component></app-randomize-products-menu-component>
                </div>
            </ng-container>

            <ng-container *ngIf="!searchPhrase">
                <p class="flex col-span-full justify-self-center text-2xl">
                    No products!
                </p>
            </ng-container>
        </ng-template>
    </div>
</ng-container>